<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OMDB Movie Search</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <form method='GET' action="/movies">
    <h2><label for="movie">Search for a Movie</label></h2>
    <input type="text" name='movie'>
    <input id="movieTitle" type="submit" value="Search">
  </form>
  
</body>
</html>